/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
	.team_item {
		margin-bottom: 32px;
	}
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	nav {
		height: 60px;
		line-height: 60px;
		background-color: #2a2d48;
	}
	.top_line {
		display: none;
	}
	.logo {
		padding-top: 15px;
	}
	.menu_btn {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		background-color: #e84545;
	}
	.menu_btn span {
		top: -16px;
	}
	.menu li {
		display: block;
		text-align: center;
	}
	.menu li a {
		display: block;
	}
	.menu li a:hover {
		/* display: block; */
		background-color: #fff;
		color: #000;
	}
	#top_menu {
		background-color: #2a2d48;
		padding: 20px 0;
	}
	.img_center {
		margin: 0 auto;
	}
<<<<<<< HEAD
	.download {
		padding: 20px 0 50px 0;
	}
	.team_s {
		padding: 60px 0 40px;
	}
	.dl_form {
		width: 100%;
	}
	.call_btn {
		top: 8px;
		right: 60px;
	}
=======
>>>>>>> f8f19f01b58a3ccb08348bed2524a3b4ccefaf5e
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
	nav {
		position: fixed;
	}
<<<<<<< HEAD
	.menu li {
		padding: 0;
	}
=======
>>>>>>> f8f19f01b58a3ccb08348bed2524a3b4ccefaf5e
	.title_block {
		margin-top: 130px;
	}
	.title_block h1 {
		font-size: 30px;
	}
	.title_block p {
		font-size: 14px;
	}
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */

<<<<<<< HEAD
@media only screen and (min-width: 768px) {
	.modal_width {
		width: 400px;
	}
}
=======
@media only screen and (min-width: 768px) {}
>>>>>>> f8f19f01b58a3ccb08348bed2524a3b4ccefaf5e

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}